html {
    position:relative;
    min-height: 100%;
}

body {
    margin: 0 0 50px;
    padding:50px 15px 0px;
    background: url("http://evdekarakteregitimi.com/wp-content/uploads/2014/12/background1.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;    
    }

.container {
    padding: 20px 60px;
}
    
.carousel-inner img {
      width: 100%; /* Set width to 100% */
      margin: auto;
    }

.carousel-caption h3 {
          color: #000 !important; /* black coloured titles on photos, for white use #fff */
    }

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
    .carousel-caption {
      display: none; 
    }}

/* Remove the padding when the screen is less than 400 pixels wide */
@media (max-width: 400px){
        .container {
            padding:0;
            margin:0;
        }
        
        body {
            padding:50px 0px 0px 0px;
        }}
    
/* Add a dark background color with a little bit see-through */
.navbar {
        font-family: Montserrat, sans-serif;
        margin-bottom: 0;
        /* background-color: #d5d5d5;*/
        border: 0;
        font-size: 11px !important;
        letter-spacing: 4px;
        opacity:0.9;
    }

/* Add a gray color to all navbar links */
.navbar li a, .navbar .navbar-brand {
        color: #000 !important;
    }

/* On hover, the link's background will turn red */
.navbar-nav li a:hover {
    background-color: red !important;
    }

/* Remove border color from the collapsible button */
.navbar-default .navbar-toggle {
        border-color: transparent;
    }

.dropbtn 

/* Remove border and add padding to thumbnails */
.thumbnail {
    padding: 0;
    border: none;
    border-radius: 0;
}

.thumbnail p {
    margin-top: 5px;
}

/* Footer styling */

footer {
	position:absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width:100%;
    background-color: #F8F8F8;
    color: black;
    text-align: left;
    padding:15px;
    opacity:0.9;
}

footer a {
        color: #f5f5f5;
    }

footer a:hover {
        color: #777;
        text-decoration: none;
    }

#contact-form #submit-button:active {
    position:relative;
    top:1px;
}

.copyright {
    float: left;
}

.social { 
    float: right;
}

.video-container {
    position: relative;
    padding-bottom: 50%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}